@model Gov.LightingSystem.Feedback.Models.UserFeedback
@{
}
<fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h1 class="govuk-fieldset__heading">
            Are you happy with the service?
        </h1>
    </legend>
    <div class="govuk-radios govuk-radios--inline">
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" value="true" name="isHappyWithService" type="radio"
                   @Html.Raw(Model.IsHappyWithService != null && Model.IsHappyWithService == true ? "checked" : "") />
            <label class="govuk-label govuk-radios__label" for="changed-name">
                Yes
            </label>
        </div>
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" value="false" name="isHappyWithService" type="radio"
                   @Html.Raw(Model.IsHappyWithService != null && Model.IsHappyWithService == false  ? "checked" : "") >
            <label class="govuk-label govuk-radios__label" for="changed-name-2">
                No
            </label>
        </div>
    </div>
</fieldset>