@model Gov.LightingSystem.Feedback.Models.UserFeedbackModel
@{
}

<label class="govuk-label" for="userName">
    UserName
</label>

<input  class="govuk-input" id="userName" name="userName" type="text">

