@model Gov.LightingSystem.Feedback.Models.UserFeedbackModel
@{
}
<label class="govuk-label" for="emailAddress">
    Email Address
</label>
<input class="govuk-input" id="emailAddress" name="emailAddress" type="text">